################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tests.InjectableExtensions/bin/*
/Tests.InjectableExtensions/obj/*
/InjectableExtensions/obj
/InjectableExtensions/bin/*
/.vs/*

*.user

TestObjects/bin/*

TestObjects/obj/*

*.testlog
