################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tests.InjectableExtensions/bin/
/Tests.InjectableExtensions/obj/
/InjectableExtensions/obj
/InjectableExtensions/bin/
/TestObjects/bin/
/TestObjects/obj/
/TestObjects_2/bin/
/TestObjects_2/obj/
.vs/
